@using WebCartera.Models
@{
    Parametro Parametro = (Parametro)Session["MiSession"];
    seguridadusuario Usuario = Parametro.Usuario;
}
<div id="right-sidebar">
    <div class="sidebar-container">

        <ul class="nav nav-tabs navs-3">

            <li>
                <a class="nav-link active" data-toggle="tab" href="#tab-1">
                    Agregar
                </a>
            </li>
            <li>
                <a class="nav-link" data-toggle="tab" href="#tab-2">
                    Rango
                </a>
            </li>
            <li>
                <a class="nav-link" data-toggle="tab" href="#tab-3">
                    Mi Cuenta
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">

                <div class="sidebar-title text-center">
                    <h3> <i class="fa fa-edit"></i> Registrar Trasacción</h3>
                </div>
                <div class="tab_menu">
                    <a href="@Url.Action("Gasto", "Cuentas")">
                        <div class="setings-item gatos_tab ">
                            <span>
                                Gastos
                            </span>
                            <i class="fa fa-minus-circle float-right"></i>
                        </div>
                    </a>
                    <a href="@Url.Action("Ingreso", "Cuentas")">
                        <div class="setings-item ingresos_tab">
                            <span>
                                Ingresos
                            </span>
                            <i class="fa fa-plus-square float-right"></i>
                        </div>
                    </a>
                    <a href="@Url.Action("Transferencia", "Cuentas")">
                        <div class="setings-item transfer_tab">
                            <span>
                                Transferencia
                            </span>
                            <i class="fa fa-exchange float-right"></i>
                        </div>
                    </a>
                    <div class="setings-item text-center">                        
                        <h4>Revisar Transacción</h4>
                        Con esta opción puede editar trasacciones registradas.                        
                        <div class="m-1">
                            <button type="button" class="btn btn-w-m btn-warning">Editar</button>
                        </div>

                    </div>
                </div>

            </div>

            <div id="tab-2" class="tab-pane">

                <div class="sidebar-title">
                    <h3> <i class="fa fa-calendar-plus-o"></i> Filtro de rango reportes.</h3>
                    <small><i class="fa fa-tim"></i> Selecciones el rango de fecha.</small>
                </div>
                <a class="itemDate" href="@Url.Action("CambioRango", "Inicio",new { Id = 1})">
                    <div class="setings-item ">
                        <span>
                            Día
                        </span>
                    </div>
                </a>
                <a class="itemDate" href="@Url.Action("CambioRango", "Inicio",new { Id = 2})">
                    <div class="setings-item ">
                        <span>
                            Semana
                        </span>
                    </div>
                </a>
                <a class="itemDate" href="@Url.Action("CambioRango", "Inicio",new { Id = 3})">
                    <div class="setings-item ">
                        <span>
                            Mes
                        </span>
                    </div>
                </a>
                <a class="itemDate" href="@Url.Action("CambioRango", "Inicio",new {Id = 4})">
                    <div class="setings-item">
                        <span>
                            Año
                        </span>
                    </div>
                </a>
                <div class="setings-item" >
                    <h4 class="text-center">Rango fecha</h4>
          
                    <div class="form-group" id="data_5">                       
                        <div class="input-daterange input-group" id="datepicker">
                            <input type="text" class="form-control-sm form-control" name="start" value="05/14/2014" />
                            <span class="input-group-addon">al</span>
                            <input type="text" class="form-control-sm form-control" name="end" value="05/22/2014" />
                        </div>
                    </div>
                    <button type="button" class="btn btn-block btn-outline btn-primary">Aplicar</button>

                </div>
            </div>

            <div id="tab-3" class="tab-pane">

                <div class="sidebar-title">
                    <h3><i class="fa fa-address-card"></i>  @Usuario.NomUsuario</h3>
                </div>
                <a href="@Url.Action("Detalles", "Cuenta",new { Id = Parametro.Usuario.Id})">
                    <div class="setings-item">
                        <span>
                            Mi Perfil
                        </span>
                        <i class="fa fa-chevron-right float-right"></i>
                    </div>
                </a>
                <a href="@Url.Action("Detalles", "Cuenta",new { Id = Parametro.Usuario.Id})">
                    <div class="setings-item">
                        <span>
                            Cambiar Contraseña
                        </span>
                        <i class="fa fa-user-secret float-right"></i>
                    </div>
                </a>                               
                <a href="@Url.Action("LogOff", "Cuenta")">
                    <div class="setings-item">
                        <span>
                            Cerrar Sesión
                        </span>
                        <i class="fa fa-sign-out float-right"></i>
                    </div>
                </a>

                <div class="sidebar-content">
                    <h4 class="text-center">SW+</h4>
                    <div class="small">
                        ¿Cómo hacer un seguimiento de tus gastos con éxito? Sabemos que es fácil. Solo tienes que ir añadiendo cada gasto que hagas… ¡así de sencillo! Y Monefy te va a ayudar. Basta con añadir nuevos registros cuando compres un café o pidas un taxi. Se hace con un solo clic!
                    </div>
                </div>

            </div>
        </div>

    </div>



</div>

