@using WebCartera.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Smart Wallet | Iniciar sesión";
}

<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex" />

    <title>Smart Wallet | Iniciar sesión</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    @Scripts.Render("~/bundles/jquery")

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">SW+</h1>

            </div>
            <h3>Bienvenido a Smart Wallet +</h3>
            <p>
                Aplicación de finanzas personales que facilita la gestión del dinero.
            </p>


            @using (Html.BeginForm("Login", "Cuenta", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()                
                @Html.ValidationMessage("ModelErr", new { @class = "text-danger" })                
                <div>
                    @Html.LabelFor(m => m.Email, new { @class = "sr-only" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Ingrese email" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    <br>
                    @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Ingrese Contraseña" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <div class="checkbox p-3">
                        <label>
                            @Html.CheckBoxFor(m => m.RememberMe) @Html.LabelFor(m => m.RememberMe)
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b">Iniciar sesión</button>
                    <hr>
                </div>
            }


            <p class="m-t">
                <small>
                    Una mejor manera de controlar sus gastos &copy;
                    <script>document.write(new Date().getFullYear())</script>
                </small>
            </p>
        </div>
    </div>
    @Scripts.Render("~/bundles/jqueryval")
</body>

</html>